
.background-container {
  display: inline-grid;
}

.background-container-item {
  text-align: center;
}

@media only screen and (orientation: landscape) {
  #overlay-text-field{
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
    color: white;
    font-weight: bold;
    font-size: 80px;
    border: 10px solid #f1f1f1;
    position: fixed;
    top: 70%;
    left: 20%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 300px;
    padding: 20px;
    text-align: center;
  }
}
@media only screen and (orientation: portrait) {
  #overlay-text-field{
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
    color: white;
    font-weight: bold;
    font-size: 50px;
    border: 10px solid #f1f1f1;
    position: fixed;
    top: 5%;
    left: 20%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 300px;
    padding: 10px;
    text-align: center;
  }
}
